# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb

build/
demo-20220317T152610Z-001/demo/Cloth stiffness.mkv
demo-20220317T152610Z-001/demo/Curtain Scene.mkv
demo-20220317T152610Z-001/demo/finalDemo.mp4
demo-20220317T152610Z-001/demo/Linear cloth interaction.mkv
demo-20220317T152610Z-001/demo/Linear.mkv
demo-20220317T152610Z-001/demo/Quadratic vs Linear.mkv
demo-20220317T152610Z-001/demo/Quadtratic.mkv
